@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter&family=Poppins&family=Roboto:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-width: 375px;
  overflow-x: hidden;
  position: relative;
}

.navbar {
  background: #3c3a39;
  padding: 2px 24px;
  position: fixed;
  z-index: 14;
  width: 100%;
}

.navbar ul {
  list-style: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.navbar ul .menu {
  cursor: pointer;
}

.navbar ul .menu:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar ul .nav-item {
  padding: 10px 12px;
}

.links {
  display: none;
}

/* hamburger menu */
.hamburger-content {
  display: block;
  height: 100vh;
  width: 100vw;
  background: #3c3a39;
  mix-blend-mode: normal;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 15;
}

.hamburger-content .nav-links {
  display: flex;
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.hamburger-content li {
  padding: 16px;
  margin-bottom: 8px;
  border-bottom: 1px solid #6f6c6b;
}

.hamburger-content .nav-links a {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 138%;
  color: #fff5e1;
  text-decoration: none;
}

/* close hamburger */
#close-hamburger {
  color: #979493;
  font-size: 24px;
  border-bottom: none;
  text-align: end;
  cursor: pointer;
}

/* headline */
#headline {
  background: #1c1a19;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  padding-inline: 24px;
  position: relative;
  background-image: url('./images/headlline-blob.svg');
  background-repeat: no-repeat;
  background-size: 400px 300px;
  background-position: 63vw bottom;
}

.greeting {
  color: #ff6b00;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
  animation: hide-title 6s infinite cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes hide-title {
  0% {
    opacity: 0.1;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.1;
  }
}

.headline-description {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  max-width: 85vw;
}

.socials {
  display: flex;
  width: 60%;
  max-width: 400px;
  justify-content: space-around;
}

.socials > * {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* projects */
.projects-title {
  width: 320px;
  margin-block: 120px 80px;
  margin-inline: auto;
  padding-bottom: 40px;
  border-bottom: 1px solid #212121;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #1c1a19;
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

/* card */
.project-card {
  margin: 0 24px 24px 24px;
}

.project-card.featured {
  grid-row: 1/2;
}

.information {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.project-card-heading {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
}

.project-card-description {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #091e42;
}

.skills,
.popup-details-skills {
  display: flex;
  list-style: none;
  justify-content: left;
}

.skills li,
.popup-details-skills li {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #091e42;
  line-height: 20px;
  padding: 10px 12px;
  background: #fff;
  border: 1px solid #8993a4;
  margin-right: 12px;
}

.see-project,
#get-resume,
#contact-btn {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 141%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  padding: 12px;
  border: none;
  height: 48px;
  background: #ff6b00;
  width: 180px;
  transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* project details popup start */
#project-details-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: rgba(3, 3, 3, 0.596);
  backdrop-filter: blur(6px);
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  padding: 60px 16px 40px 16px;
  display: none;
}

#popup-details-card {
  padding: 16px;
  background-color: #fff;
  border: 1px solid #dfe1e6;
}

#close {
  font-size: 24px;
  color: #67798e;
  position: absolute;
  padding: 8px;
  right: 0;
  cursor: pointer;
}

#close:hover i,
#close:active i {
  color: red;
}

.popup-heading {
  position: relative;
}

#popup-heading {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 138%;
  color: #172b4d;
  margin-bottom: 40px;
  margin-right: 30px;
}

.popup-details-skills li {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 123%;
  color: #3c3a39;
}

#popup-details-card img {
  width: 100%;
  margin-block: 24px;
}

#popup-description {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #344563;
}

#links {
  display: flex;
  list-style: none;
  gap: 20px;
  margin-top: 16px;
  padding-bottom: 20px;
}

#links .links-li {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#links a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  gap: 12px;
  background: #ff6b00;
  color: #fff;
  font-weight: 700;
  height: 48px;
  flex: 1;
}

#links a img {
  width: 20px;
}

/* project details popup end */

/* contact btn specifics */
#contact-btn {
  width: fit-content;
  margin: 0 auto;
}

/* inactive project card */
.inactive {
  padding-top: 80px;
  background-image:
    linear-gradient(
      180.45deg,
      rgba(38, 38, 38, 0) 0.75%,
      rgba(38, 38, 38, 0.9) 61.94%
    ),
    url('./images/background2.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
  row-gap: 24px;
}

.inactive .project-card-heading,
.inactive .project-card-description,
.inactive ul {
  color: #fff;
  padding-inline: 16px;
}

.list-items li {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 194%;
  text-align: center;
  color: #fff;
}

.inactive ul li {
  background: rgba(255, 255, 255, 0.24);
  color: #fff;
}

.inactive .see-project {
  width: 100%;
  margin-top: 14px;
}

/* about me section */
#about-me {
  background: #1c1a19;
  padding-block: 120px;
}

#about-me > hr {
  width: 90vw;
  margin: 0 auto;
  color: #fff;
}

.about-me-intro {
  padding-bottom: 140px;
  padding-inline: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-image: url('./images/about-me.svg');
  background-repeat: no-repeat;
  background-size: 350px 310px;
  background-position: 260px 215px;
}

#about-me-title {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 122%;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

#about-me-description {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #f4f5f7;
}

/* skills section */
.about-skils-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 120px;
}

.list-items {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.list-title {
  font-family: 'InaiMathi', Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 138%;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  margin-bottom: 24px;
}

/* icon */
.square-icon {
  height: 18px;
  width: 18px;
  background: #ff6b00;
}

.circle {
  border-radius: 50%;
}

.rotate {
  rotate: 45deg;
}

/* hover and active styles */
.see-project:hover,
.skills li:hover,
#get-resume:hover,
#contact-btn:hover,
#links a:hover {
  color: #ff6b00;
  background: #fff5e1;
  border: 1px solid #ff6b00;
  cursor: pointer;
}

.see-project:active,
.skills li:active,
#get-resume:active,
#contact-btn:active,
#links a:active {
  color: #fff;
  background: #ff5800;
}

/* contact form */
#contact {
  padding-top: 120px;
  padding-inline: 24px;
}

.contact-intro {
  text-align: center;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  color: #172b4d;
  margin-bottom: 58px;
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

form label {
  display: none;
}

input {
  padding: 15px 16px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  border: none;
  border-bottom: 1px solid #dbd8d7;
  color: #979493;
}

textarea {
  height: 114px;
  border: none;
  padding: 12px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #3c3a39;
  background: #fbf8f7;
}

/* footer */
#footer hr {
  margin-top: 120px;
  margin-bottom: 15px;
  border-top: 1px solid #dfe1e6;
}

.social-footer {
  list-style: none;
  width: 200px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

#footer .social-footer li {
  flex: 1;
  display: grid;
  place-items: center;
  padding: 8px;
}

.invalidinput {
  border: 1px solid #c30;
}

#errormessage {
  color: #c30;
}

/* big screen css */
@media only screen and (min-width: 768px) {
  /* navbar */
  .navbar .menu {
    display: none;
  }

  .links {
    display: flex;
    margin-right: 142px;
  }

  .nav-links {
    display: flex;
    align-items: center;
    column-gap: 8px;
    height: 100%;
    width: 100%;
  }

  .navbar .links .nav-links li {
    padding: 10px 12px;
  }

  .navbar ul .links .nav-links li a {
    text-decoration: none;
    color: #fff;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    transition: color 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .navbar ul .links .nav-links li a:hover {
    color: #f55800;
  }

  #close-hamburger {
    display: none;
  }

  #mail a {
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-self: center;
  }

  /* headline */
  #headline {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: start;
    padding-left: 0;
    background-size: 1150px auto;
    background-position: 65vw center;
  }

  .socials {
    height: 200px;
    width: fit-content;
    flex-direction: column;
    align-items: start;
    margin-left: 36px;
    margin-right: 90px;
  }

  .intro {
    width: 566px;
  }

  .greeting {
    font-size: 72px;
    line-height: 113%;
    color: #f55800;
  }

  .title {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 138%;
    align-items: center;
    color: #fff;
    margin-block: 24px;
  }

  .headline-description {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 160%;
    color: #f4f5f7;
  }

  /* projects */
  .projects-title {
    border-bottom: none;
    margin-left: 10%;
    position: relative;
    margin-bottom: 114px;
    padding-bottom: 0;
    color: #091e42;
  }

  .projects-title::after {
    content: '';
    position: absolute;
    border-bottom: 1px solid #212121;
    width: 50vw;
    max-width: 794px;
    top: 50%;
    left: 105%;
  }

  .project-card:not(.inactive) {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-right: 15px;
  }

  .project-card:not(.inactive) img {
    width: 50%;
    max-width: 700px;
    height: auto;
    flex: 1;
    margin-left: auto;
  }

  .project-card:not(.inactive) .information {
    width: 450px;
    max-width: 30%;
    margin-right: auto;
  }

  .projects .projects-container .project-card .information .skills li {
    padding: 10px;
  }

  .inactive-cards-container {
    display: grid;
    width: 1200px;
    max-width: 90vw;
    justify-content: center;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    grid-auto-flow: row;
    grid-auto-rows: 430px;
  }

  .inactive .see-project-anchor {
    text-decoration: none;
  }

  .inactive .see-project {
    display: none;
  }

  .inactive:hover {
    border: 2px solid #091e42;
    background-image: url('./images/background2.png');
  }

  .inactive:hover > * {
    display: none;
  }

  .inactive:hover .see-project,
  .inactive:hover .see-project-anchor {
    display: block;
  }

  .inactive .skills {
    margin-bottom: 8px;
  }

  /* about me */
  #about-me {
    background-image: url('./images/about-me.svg');
    background-repeat: no-repeat;
    background-position: 70vw 8%;
    background-size: 670px 350px;
  }

  #about-me > hr {
    width: 80%;
  }

  .about-me-intro {
    width: 566px;
    margin-left: 142px;
    padding-bottom: 0;
    margin-bottom: 130px;
    background-image: none;
  }

  #about-me-description {
    font-size: 20px;
    line-height: 32px;
  }

  .about-skils-section {
    padding-right: 100px;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
  }

  #about-me .about-skils-section .list .list-items li {
    text-align: start;
  }

  /* contact */
  .contact-container {
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 24px;
  }

  .contact-intro {
    max-width: 455px;
    text-align: left;
    font-size: 40px;
    line-height: 130%;
    color: #262626;
  }

  form {
    flex: 1;
  }

  form input {
    transition: box-shadow 0.25s 0.05s;
  }

  form input:hover {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  }

  #contact-btn {
    margin: 0;
  }
}

@media only screen and (min-width: 1000px) {
  /* project details popup desktop start */
  #project-details-modal {
    padding-inline: 120px;
  }

  #project-details-card {
    padding: 24px;
  }

  #popup-flex-container {
    display: flex;
    gap: 25px;
    padding-right: 24px;
    margin-top: 40px;
  }

  #popup-flex-container img#featuredImage {
    flex: 1;
    margin-top: 0;
    align-self: self-start;
  }

  #popup-details {
    width: 40%;
    display: flex;
    flex-direction: column;
  }

  #popup-description {
    line-height: 188%;
  }

  #links {
    margin-top: auto;
  }

  /* project details popup desktop end */
}

@media only screen and (min-width: 768px) and (max-width: 965px) {
  .intro {
    width: 450px;
  }

  .contact-intro {
    font-size: 38px;
    line-height: 48px;
  }

  #project-details-modal {
    padding-inline: 80px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 999px) {
  .project-card:not(.inactive) img {
    max-width: 60%;
    flex: 1;
  }

  #about-me {
    background-position: 70vw 25%;
  }

  .project-card:not(.inactive) .information {
    max-width: 40%;
  }
}

@media only screen and (min-width: 400px) and (max-width: 772px) {
  .about-me-intro {
    background-size: 500px 450px;
    background-position: 75vw 40px;
  }
}
