@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins&family=Roboto:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-width: 375px;
}

.navbar {
  background: #3C3A39;
  padding: 2px 24px;
}

.navbar ul {
  list-style: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
}

.navbar ul .logo {
  padding: 10px 12px;
}

/* headline */
.headline {
  background: #1C1A19;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  padding-inline: 24px;
  position: relative;
}

.greeting {
  color: #FF6B00;
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
}

.title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #FFF5E1;
}

.headline-description {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.socials {
  display: flex;
  width: 60%;
  max-width: 400px;
  justify-content: space-around;
}

.socials > * {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blob {
  height: 300px;
  width: 400px;
  position: absolute;
  right: -73%;
  bottom: 0;
  transform: rotate(-20deg);
}
